[Unit]
Description=YOLO Python Server
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/Yolo
ExecStart=/home/ubuntu/Yolo/.venv/bin/python /home/ubuntu/Yolo/app.py
Restart=always
Environment=AWS_REGION=us-east-1
Environment=AWS_S3_BUCKET=ameer-polybot-images

[Install]
WantedBy=multi-user.targe